/********** GENERAL **********/
:root {
  --white: white;
  --black: black;
  --red: red;
  --red1: #9c0505;
  --red2: #800000;
  --red3: #b22222;
  --red4: #942525;
  --blue: blue;
  --blue1: #002147;
  --blue2: #003366;
  --blue3: #004080;
  --blue4: #00509e;
  --blue5: #589ee4;
  --green: green;
  --green1: #087408;
  --green2: #025a02;
  --green3: #258625;
  --green4: #085e08;
  --gray: gray;
  --gray1: rgb(190, 182, 182);
  --orange: #f0730d;
  --yellow: #fcf17f;
}

/* Pantallas de 720p */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: var(--white);
  background-color: var(--blue1);
}
p {
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  padding: 5px;
}
.one {
  background-color: var(--blue4);
}
.two {
  background-color: var(--blue2);
}
.three {
  background-color: var(--blue3);
}
.top-row,
.bottom-row {
  border: 1px solid var(--white);
  border-radius: 5px;
}
.div {
  border: 1px solid var(--white);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
.btnAction:hover,
.btnEdit:hover {
  background-color: var(--yellow);
}

.btnAction {
  border-radius: 5px;
  font-size: 1.25rem;
}
.btnEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.75rem;
}

/* firstRow */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}
#settingsBtn {
  margin-right: auto;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 5px;
}
#title {
  flex-grow: 1;
  text-align: center;
  padding-right: 2.5rem;
  font-size: 2rem;
}

/* main-content */
.main-content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 5px;
}
.column {
  display: grid;
  text-align: center;
  gap: 5px;
}
#col1,
#col3 {
  grid-template-rows: repeat(4, 1fr);
  height: 35rem;
}
#col2 {
  grid-template-rows: 1fr 4fr 2fr 1fr 2fr;
  height: 35rem;
}

#levelDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#timeDiv {
  display: grid;
  grid-template-rows: 5fr 1fr;
}
#timeDivBtn {
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 10px;
}
#time {
  font-size: 2em;
  font-weight: bold;
}
.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#row1,
#row2 {
  gap: 15px;
  font-size: 1.5rem;
}
#row1 {
  margin-bottom: 0.5rem;
}
.pPanel {
  width: 8rem;
}
#l-,
#a- {
  margin-left: 5rem;
}

/* lastRow */
.bottom-row {
  padding: 0.5rem;
}
#infoMtt,
#prizes {
  text-align: center;
  font-size: 1.75rem;
}
#prizes {
  display: none;
}
