/********** GENERAL **********/
.modal {
  color: var(--black);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  background-color: var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
h4 {
  margin: 0.25rem;
}
.number1 {
  width: 4.55rem;
}
.number2 {
  width: 2.5rem;
}
.input {
  margin: 0.25rem;
  font-size: 0.75rem;
  text-align: center;
  justify-self: center;
}
.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}
.acept,
.cancel,
.info {
  border-radius: 1rem;
  background-color: var(--white);
  margin: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  font-weight: bold;
  height: 1.5rem;
  width: auto;
  font-size: 0.75rem;
}
.acept,
.cancel,
.info {
  border: 2px solid var(--black);
}

#infoDivModal,
#prizesDivModal,
#styleModal {
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 100%;
  justify-self: center;
  justify-content: center;
  justify-items: center;
}

/***** sectInfoModal *****/
#sectInfoModal {
  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
  justify-content: space-between;
  gap: 0.5rem;
}
#dateModal {
  width: 4rem;
}
#stackModal,
#buyInModal {
  width: 4rem;
}
#infoDivModal {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}
#endRebuysModal {
  width: 10rem;
}

/* prizesDivModal */
#prizesDivModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#inputPrizesModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}
#totalPrizeModal {
  margin-right: 0.35rem;
  font-size: 0.75rem;
  width: 2.75rem;
}
#paidPlacesModal {
  margin-left: 0.75rem;
  font-size: 0.75rem;
  width: 2.75rem;
}
#tablePrizesModal {
  display: none;
  border-collapse: collapse;
  align-self: center;
}
#tablePrizesModal th {
  background-color: var(--blue5);
  width: 5rem;
}
#tablePrizesModal th,
#tablePrizesModal td {
  border: 1px solid black;
}
#tablePrizesModal td {
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
#tablePrizesModal tr:nth-child(odd) {
  background-color: var(--gray1);
}
.totalRow {
  background-color: var(--blue5) !important;
  font-weight: bold;
}
.hidden {
  border: none !important;
  background-color: var(--white);
}
#prizesDivBtnsModal {
  margin: 0;
}

/* styleModal */
#styleModal {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
#themeColorModal {
  margin: 0.5rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  width: max-content;
  align-self: center;
}

/***** sectLevelsModal *****/
#sectLevelsModal {
  border: 1px solid var(--black);
  margin-left: 0.1rem;
  justify-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}
#selectLevelsModal {
  margin: 0.5rem;
  width: max-content;
}
#levelsDivModal {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
#tableLevelsModal {
  border-collapse: collapse;
}
#titleLevelsModal {
  display: none;
  width: 11rem;
  margin: 0.5rem;
}
#saveLevelsBtnModal {
  display: none;
}
#tableLevelsModal {
  border-collapse: collapse;
  align-self: center;
}
#tableLevelsModal th {
  background-color: var(--blue5);
  width: 5rem;
}
#tableLevelsModal th,
#tableLevelsModal td {
  border: 1px solid black;
}
#tableLevelsModal td {
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
#tableLevelsModal tr:nth-child(odd) {
  background-color: var(--gray1);
}
#tbodyLevelsModal {
  font-size: 1rem;
  text-align: center;
}
.inputLevelsModal {
  width: 3rem;
}
.deleteLevelsRow,
.addBreakLevelsRow,
.addRowLevels {
  padding: 0;
  font-weight: bold;
  font-size: 0.85rem;
  width: 1.25rem;
  height: 1rem;
  flex-grow: 1;
  height: 100%;
}
.deleteLevelsRow {
  color: var(--red);
}
.addBreakLevelsRow {
  color: var(--gray);
}
.addRowLevels {
  color: var(--green);
}
#levelsBtnsModal {
  margin: 0.5rem;
}

/***** button close *****/
#closeBtnModal {
  grid-column: span 2;
  text-align: center;
}
