:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --yellow: yellow;
  --purple: purple;
  --gray: gray;
}

body {
  background-color: var(--white);
}
p {
  margin: 0;
}
button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0.75rem;
}
#playerInfo1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 3px solid red;
  font-size: 5rem;
}
/* SECTIMES */
#secTimes {
  text-align: center;
  border: 1px solid red;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#currentTime,
#elapsedTime,
#nextBreak,
#buyins,
#rebuys,
#addons {
  border: 1px solid blue;
}

/* MAINTIME */
#mainTime {
  text-align: center;
  border: 1px solid red;
}
#level {
  font-size: 5rem;
}
#time {
  font-size: 20rem;
}
#blinds {
  font-size: 10rem;
}
#nextBlinds {
  font-size: 3rem;
}

/* ENTRIES */
#entries {
  text-align: center;
  border: 1px solid red;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#playerInfo2 {
  border: 3px solid var(--purple);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 2.5rem;
}
#left {
  border: 1px solid var(--gray);
  font-size: 5rem;
}
#avg {
  border: 1px solid var(--gray);
  font-size: 5rem;
}
#controlPanel {
  border: 1px solid var(--red);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#entriesPanel,
#leftPanel,
#rebuysPanel,
#addonsPanel {
  display: flex;
  justify-content: space-evenly;
}
