/********** GENERAL **********/
:root {
  --white: white;
  --black: black;
  --red: red;
  --red1: #9c0505;
  --red2: #800000;
  --red3: #b22222;
  --red4: #942525;
  --blue: blue;
  --blue1: #002147;
  --blue2: #003366;
  --blue3: #004080;
  --blue4: #00509e;
  --green: green;
  --green1: #087408;
  --green2: #025a02;
  --green3: #2ba12b;
  --green4: #085e08;
  --gray: gray;
  --orange: #f0730d;
  --yellow: #fcf17f;
}

/* Pantallas de 720p */

html,
body {
  background-color: var(--blue4);
  color: var(--white);
  overflow: hidden;
}
main {
  border: 2px solid var(--black);
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black);
}
.rowAround {
  display: flex;
  justify-content: space-around;
}
.rowCenter {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem;
}
.edit {
  width: 13rem;
}
.one {
  background-color: var(--blue1);
}
.two {
  background-color: var(--blue2);
}
.three {
  background-color: var(--blue3);
}
.text1 {
  font-size: 3.25rem;
}
.text2 {
  font-size: 2.35rem;
  font-weight: bold;
}
.text3 {
  font-size: 1.85rem;
  font-weight: bold;
}
.text4 {
  font-style: italic;
  font-weight: normal;
}
.text5 {
  font-size: 1.7rem;
}
.round {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
}
.reduce,
.add {
  border: 1px solid var(--black);
}
#settings:hover,
.add:hover,
.reduce:hover,
#start:hover,
#pause:hover,
#end:hover {
  background-color: var(--yellow);
}
p {
  margin: 0;
  text-align: center;
}
#currentTime,
#elapsedTime,
#nextBreak,
#entries,
#rebuys,
#addons,
#avg,
#left {
  font-size: 2.75rem;
}

/********** main ***********/

/* title */
#sectTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#settings {
  margin-right: auto;
  border: none;
  border-right: 4px solid var(--black);
  background-color: var(--white);
  cursor: pointer;
  font-size: 1.45rem;
  padding: 0;
  height: 2.1rem;
  width: 2.25rem;
}
#title {
  font-size: 1.75rem;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding-right: 3.5rem;
}
#iM1,
#iM2,
#iM3 {
  font-weight: bold;
}

/***** sect1 *****/
#sect1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/* secTimes */
#secTimes {
  display: grid;
  grid-template-rows: auto auto auto;
}

/* mainTime */
#mainTime {
  display: grid;
  grid-template-rows: auto auto auto auto;
}
#level {
  font-size: 3rem;
}
.time {
  display: grid;
  grid-template-rows: auto auto;
}
#time {
  font-size: 14rem;
  font-weight: bolder;
}
#start,
#pause,
#end {
  border-radius: 1rem;
  background-color: var(--white);
  margin: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  font-weight: bold;
  height: 1.5rem;
  width: auto;
  font-size: 0.75rem;
  border: 2px solid var(--black);
}
.blinds,
#nextBlinds {
  font-weight: bolder;
}
.blinds {
  display: grid;
  grid-template-rows: auto auto;
  font-size: 4rem;
}
#ante {
  display: flex;
  justify-content: center;
  gap: 0.35rem;
  font-size: 2.5rem;
}
#sA1 {
  font-weight: normal;
}
#nextBlinds {
  font-size: 2.25rem;
  font-weight: normal;
}

/* entries */
#entries {
  display: grid;
  grid-template-rows: auto auto auto;
}

/***** sect2 *****/
#sect2 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/* controlPanel */
#controlPanel {
  display: grid;
  grid-template-rows: auto auto;
}
.panel {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

#l-,
#a- {
  margin-left: 1.5rem;
}

/* info */
#prizes {
  display: none;
  font-size: 1.85rem;
  font-weight: bold;
}
#infoMtt {
  font-size: 1.75rem;
  margin-left: 1.5rem;
}

/***** querys *****/
/* Pantallas de 1080p */
@media (min-width: 1920px) and (min-height: 1080px) {
  /********** GENERAL **********/
  .rowCenter {
    margin-bottom: 0.5rem;
  }
  .edit {
    width: 20rem;
  }
  .text1 {
    font-size: 4.5rem;
  }
  .text2 {
    font-size: 3.25rem;
  }
  .text3 {
    font-size: 2.85rem;
  }
  .text5 {
    font-size: 2.4rem;
  }
  .round {
    width: 2rem;
    height: 2rem;
    font-size: 2.5rem;
  }
  .reduce,
  .add {
    border: 2px solid var(--black);
  }
  #currentTime,
  #elapsedTime,
  #nextBreak,
  #entries,
  #rebuys,
  #addons,
  #avg,
  #left {
    font-size: 3.5rem;
  }

  /********** main ***********/

  /* title */
  #settings {
    font-size: 2rem;
    height: 3rem;
  }
  #title {
    font-size: 2.5rem;
  }

  /***** sect1 *****/
  /* mainTime */
  #level {
    font-size: 4rem;
  }
  #time {
    font-size: 24rem;
  }
  #start,
  #pause,
  #end {
    height: 2rem;
    font-size: 1.25rem;
    border: 2.5px solid var(--black);
  }
  .blinds {
    font-size: 6rem;
  }
  #ante {
    font-size: 3rem;
  }
  #nextBlinds {
    font-size: 3.25rem;
  }

  /***** sect2 *****/
  /* controlPanel */
  .panel {
    font-size: 2.25rem;
  }

  /* info */
  #prizes {
    font-size: 3rem;
  }
  #infoMtt {
    font-size: 2.5rem;
  }
}

/* Pantallas 4K */
@media (min-width: 3840px) {
  /********** GENERAL **********/
  .rowCenter {
    margin-bottom: 1rem;
  }
  .edit {
    width: 40rem;
  }
  .text1 {
    font-size: 9.5rem;
  }
  .text2 {
    font-size: 7.5rem;
  }
  .text3 {
    font-size: 6rem;
  }
  .text5 {
    font-size: 4rem;
  }
  .round {
    width: 4rem;
    height: 4rem;
    font-size: 4.5rem;
  }
  .reduce,
  .add {
    border: 4px solid var(--black);
  }
  #currentTime,
  #elapsedTime,
  #nextBreak,
  #entries,
  #rebuys,
  #addons,
  #avg,
  #left {
    font-size: 7.5rem;
  }

  /********** main ***********/

  /* title */
  #settings {
    font-size: 4rem;
    height: 6.25rem;
  }
  #title {
    font-size: 5.35rem;
  }

  /***** sect1 *****/
  /* mainTime */
  #level {
    font-size: 8rem;
  }
  #time {
    font-size: 43rem;
  }
  #start,
  #pause,
  #end {
    height: 4rem;
    font-size: 2.5rem;
    border: 4px solid var(--black);
  }
  .blinds {
    font-size: 13rem;
  }
  #ante {
    font-size: 7.5rem;
  }
  #nextBlinds {
    font-size: 6.5rem;
  }

  /***** sect2 *****/
  /* controlPanel */
  .panel {
    font-size: 4.5rem;
  }

  /* info */
  #prizes {
    font-size: 7rem;
  }
  #infoMtt {
    font-size: 5.35rem;
  }
}
