/********** GENERAL **********/
:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --yellow: yellow;
  --purple: purple;
  --gray: gray;
}

html,
body {
  background-color: var(--white);
  font-size: 1.45rem;
}

/********** main ***********/
p {
  margin: 0;
  text-align: center;
}

/* title */
.div {
  border: 1px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 1.45rem;
  margin: 0.25rem;
}

/***** sect1 *****/
#sect1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/* secTimes */
#secTimes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

/* mainTime */
#mainTime {
  display: grid;
  grid-template-rows: 1fr 5fr 2fr 1fr;
}

/* entries */
#entries {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

/***** sect2 *****/
#sect2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#controlPanel {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.panel {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
}
.edit {
  width: 7rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white);
  width: 1.45rem;
  height: 1.45rem;
  font-size: 1.25rem;
}
.reduce {
  border: 1px solid var(--red);
}

.add {
  border: 1px solid var(--green);
}

/* Pantallas de 1080p */
/* @media (min-width: 1281px) and (max-width: 1920px) {
  body {
    font-size: 1rem;
  }
} */

/* Pantallas de 2K */
/* @media (min-width: 1921px) and (max-width: 2560px) {
  body {
    font-size: 1.125rem;
  }
} */

/* Pantallas 4K */
/* @media (min-width: 2561px) {
  body {
    font-size: 1.25rem;
  }
} */
