/********** GENERAL **********/
:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --yellow: yellow;
  --purple: purple;
  --orange: rgb(255, 136, 0);
  --gray: gray;
}

.modal {
  color: var(--black);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
}
h2 {
  margin: 0;
}
.number1 {
  width: 4.55rem;
}
.number2 {
  width: 2.5rem;
}
.input {
  margin: 0.35rem;
  font-size: 0.75rem;
}
.buttons {
  margin: 1rem;
}
.acept,
.cancel {
  border-radius: 1rem;
  background-color: var(--white);
  margin: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  font-weight: bold;
  height: 1.5rem;
  width: auto;
  font-size: 0.75rem;
}
.acept {
  border: 2px solid var(--green);
}
.cancel {
  border: 2px solid var(--red);
}

#infoFormModal,
#prizesDivModal,
#styleModal {
  display: grid;
  width: 15rem;
  justify-content: center;
}

/***** sectInfoModal *****/
#infoFormModal input {
  width: 10rem;
  text-align: center;
  justify-self: center;
}
#prizesDivModal {
  padding-bottom: 0.35rem;
}

/* prizesDivModal */
#prizesDivModal input {
  text-align: center;
}
#inputPrizes {
  padding-top: 0.35rem;
}
#totalPrize {
  margin-right: 0.35rem;
  font-size: 0.75rem;
  width: 5rem;
}
#paidPlaces {
  font-size: 0.75rem;
  width: 7.5rem;
}

/* styleModal */
#styleModal {
  justify-items: center;
}
#themeColor {
  margin: 0.5rem;
  font-size: 0.75rem;
  width: max-content;
}

/***** sectBlindsModal *****/
#sectBlindsModal {
  justify-items: center;
}
#sectBlindsSelect {
  margin: 0.5rem;
  width: max-content;
}
#sectBlindsForm {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
#blindsLevels {
  border-collapse: collapse;
}
#titleBlindsLevels {
  width: 11rem;
  margin: 0.5rem;
}

/***** button close *****/
#closeBtn {
  grid-column: span 2;
  width: auto;
  text-align: center;
}
