<div id="myModal" class="modal">
  <div class="modal-content">
    <section id="sectInfoModal">
      <div id="infoDivModal">
        <h4>Información del Torneo</h4>
        <div>
          <input type="text" id="dateModal" class="input" />
          <input
            type="text"
            id="nameModal"
            class="input inputInfo"
            placeholder="Nombre del torneo"
          />
        </div>
        <div>
          <input
            type="text"
            id="stackModal"
            class="input inputInfo"
            placeholder="Stack inicial"
          />
          <input
            type="text"
            id="buyInModal"
            class="input inputInfo"
            placeholder="Entrada"
          />
        </div>
        <input
          type="text"
          id="endRebuysModal"
          class="input inputInfo"
          placeholder="Nivel fin recompras (incl.)"
        />
        <div id="infoDivBtn" class="buttons">
          <button id="infoDivSend" type="submit" class="acept" disabled>
            Enviar
          </button>
          <button id="infoDivReset" class="cancel" disabled>Resetear</button>
        </div>
      </div>
      <div id="prizesDivModal">
        <h4 id="premios">Premios</h4>
        <div id="inputPrizes">
          <input
            type="text"
            id="totalPrize"
            class="input"
            placeholder="Total"
            readonly
            value="100000"
          />€
          <input
            type="text"
            id="paidPlaces"
            class="input"
            placeholder="Puestos"
          />
          <div id="prizesDiv" class="buttons">
            <button id="prizesGenerateBtn" class="info" disabled>
              Generar
            </button>
            <button id="prizesSendBtn" class="acept" disabled>Enviar</button>
          </div>
        </div>
        <table id="tablePrizes">
          <thead>
            <tr>
              <th>Puesto</th>
              <th>%</th>
              <th>Premio</th>
            </tr>
          </thead>
          <tbody id="tbodyPrizes"></tbody>
          <tfoot>
            <tr id="totalRow">
              <td><strong>Total</strong></td>
              <td><strong>0%</strong></td>
              <td><strong>0.00 €</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div id="styleModal">
        <h4>Tema</h4>
        <select id="themeColor">
          <option value="blue">Azul</option>
          <option value="red">Rojo</option>
          <option value="green">Verde</option>
        </select>
      </div>
    </section>
    <section id="sectBlindsModal">
      <h4>Niveles</h4>
      <select id="sectBlindsSelect">
        <option value="custom">Personalizado</option>
      </select>
      <input
        type="text"
        id="titleBlindsLevels"
        placeholder="Nombre Nivel personalizado"
      />
      <button id="saveLevel" class="acept">Guardar</button>
      <button id="deleteLevel" class="cancel">Eliminar</button>
      <div id="sectBlindsDiv">
        <table id="tableBlindsLevels">
          <thead>
            <tr>
              <th>Nivel</th>
              <th>SB</th>
              <th>BB</th>
              <th>Ante</th>
              <th>Tiempo</th>
            </tr>
          </thead>
          <tbody id="tbodyLevels">
            <tr>
              <td>
                <input type="number" class="inputLevel" min="1" step="1" />
              </td>
              <td>
                <input type="number" class="inputLevel" min="100" step="100" />
              </td>
              <td>
                <input type="number" class="inputLevel" min="100" step="100" />
              </td>
              <td>
                <input type="number" class="inputLevel" min="100" step="100" />
              </td>
              <td>
                <input type="number" class="inputLevel" step="1" min="10" />
              </td>
            </tr>

            <tr></tr>
          </tbody>
        </table>
        <div>
          <button id="sendLevel" class="acept">Enviar</button>
          <button id="" class="cancel">Limpiar</button>
        </div>
      </div>
    </section>
    <section id="closeBtn">
      <button id="close" class="cancel">Cerrar</button>
    </section>
  </div>
</div>
