<div id="myModal" class="modal">
  <div class="modal-content">
    <section id="sectInfoModal">
      <div id="infoDivModal">
        <h4>Información del Torneo</h4>
        <input type="text" id="dateModal" class="input" />
        <input
          type="text"
          id="nameModal"
          class="input inputInfo"
          placeholder="Nombre del torneo"
        />
        <input
          type="text"
          id="stackModal"
          class="input inputInfo"
          placeholder="Stack inicial"
        />
        <input
          type="text"
          id="buyInModal"
          class="input inputInfo"
          placeholder="Entrada"
        />
        <input
          type="text"
          id="endRebuysModal"
          class="input inputInfo"
          placeholder="Nivel fin recompras (incl.)"
        />
        <div id="infoDivBtn" class="buttons">
          <button id="infoDivSend" type="submit" class="acept" disabled>
            Enviar
          </button>
          <button id="infoDivReset" class="cancel" disabled>Resetear</button>
        </div>
      </div>
      <div id="prizesDivModal">
        <h4 id="premios">Premios</h4>
        <div id="inputPrizes">
          <input
            type="text"
            name="totalPrize"
            id="totalPrize"
            class="input"
            placeholder="Acumulado"
            readonly
          />€
          <input
            type="text"
            name="paidPlaces"
            id="paidPlaces"
            class="input"
            placeholder="Puestos premiados"
          />
          <div id="prizesDiv" class="buttons">
            <button id="prizesGenerateBtn" class="info" disabled>
              Generar
            </button>
            <button id="prizesSendBtn" class="acept" disabled>Enviar</button>
          </div>
        </div>
        <table id="tablePrizes">
          <thead>
            <tr>
              <th>Puesto</th>
              <th>%</th>
              <th>Premio</th>
            </tr>
          </thead>
          <tbody id="tbodyPrizes"></tbody>
          <tfoot>
            <tr id="totalRow">
              <td><strong>Total</strong></td>
              <td><strong>0%</strong></td>
              <td><strong>0.00 €</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div id="styleModal">
        <h4>Color del tema</h4>
        <select name="themeColor" id="themeColor">
          <option value="blue">Azul</option>
          <option value="red">Rojo</option>
          <option value="green">Verde</option>
        </select>
      </div>
    </section>
    <section id="sectBlindsModal">
      <h4>Niveles de juego</h4>
      <select name="sectBlindsSelect" id="sectBlindsSelect">
        <option value="1">Mtt 20 jugadores</option>
        <option value="2">Mtt 15 jugadores</option>
        <option value="3">Mtt 10 jugadores</option>
      </select>
      <div id="sectBlindsDiv">
        <table id="blindsLevels">
          <thead>
            <tr>
              <th>Nivel</th>
              <th>SB</th>
              <th>BB</th>
              <th>Ante</th>
              <th>Tiempo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <input class="number1" type="number" value="100.000" />
              </td>
              <td>
                <input class="number1" type="number" value="200.000" />
              </td>
              <td>
                <input class="number1" type="number" value="200.000" />
              </td>
              <td><input class="number2" type="number" value="15" /> min</td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <input class="number1" type="number" value="100.000" />
              </td>
              <td>
                <input class="number1" type="number" value="200.000" />
              </td>
              <td>
                <input class="number1" type="number" value="200.000" />
              </td>
              <td><input class="number2" type="number" value="15" /> min</td>
            </tr>
            <tr>
              <td>3</td>
              <td>100.000</td>
              <td>200.000</td>
              <td>200.000</td>
              <td>15 min</td>
            </tr>
            <tr>
              <td style="border: 1px solid black">4</td>
              <td style="border: 1px solid black">100.000</td>
              <td style="border: 1px solid black">200.000</td>
              <td style="border: 1px solid black">200.000</td>
              <td style="border: 1px solid black">15 min</td>
            </tr>
            <tr>
              <td style="font-weight: bold">25</td>
              <td></td>
              <td></td>
              <td></td>
              <td style="font-weight: bold">375 min</td>
            </tr>
          </tbody>
        </table>
        <input
          type="text"
          name="titleBlindsLevels"
          id="titleBlindsLevels"
          placeholder="Nombre Nivel personalizado"
        />
        <div>
          <button id="" class="acept">Guardar y aplicar</button>
          <button id="" class="cancel">Limpiar</button>
        </div>
      </div>
    </section>
    <section id="closeBtn">
      <button id="close" class="cancel">Cerrar</button>
    </section>
  </div>
</div>
